@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*{
	box-sizing: border-box;
	font-family: 'Quicksand';
}

body{
	margin: 0;
}

.input-component-wrapper{
	text-align: center;
	padding: 40px 0;
}

.tile-component-wrapper{
	overflow: hidden;
}

.loadmore-button-wrapper{
	text-align: center;
	padding: 40px 0;
}

.loadmore-button-wrapper > button{
	padding: 10px 40px;
	box-shadow: 4px 6px 8px lightgrey;
}

.loadmore-button-wrapper > button:active{
	padding: 10px 40px;
	box-shadow: none;
}

#parent{
	/*border: 2px solid skyblue;*/
	/*position: relative;*/
}

.carousel-component-wrapper{
	position: fixed;
	width: 100%;
	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
}

