@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*{
	box-sizing: border-box;
	font-family: 'Quicksand';
}

#root{
	/*border: 1px solid lightgrey;*/
}

.input-component-wrapper{
	/*border: 1px solid lightgrey;*/

	text-align: center;
	padding: 40px 0;
}

input{
	width: 15%;
	display: inline-block;
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 0;
	margin-right: 10px;
	-webkit-appearance: none;
	border: 2px solid #9E9E9E;
	font-family: 'Quicksand';
}

input:focus{
	outline: none;
	width: 30%;
	transition: width .25s;
}

input:not(:focus){
	width: 20%;
	transition: width .25s;	
}

button{
	display: inline-block;
	padding: 10px 15px;
	background-color: #fff;
	font-size: 16px;
	border-radius: 0;
	-webkit-appearance: none;
	
	font-weight: bold;
	border: 2px solid #9E9E9E;
}

button:enabled{
	color: black;
	cursor: pointer;
	border: 2px solid black;
}

button:focus{
	outline: none;
}

.yo{
	border: 1px solid pink;
}

.unordered-list{
	list-style: none;
	overflow: hidden;
	border: 1px solid lightgrey;
	padding: 5px;
}

.tile{
	/*width: 150px;
	height: 100px;*/
	float: left;
	margin: 0 20px 20px 0;
}

img{
	width: 150px;
	height: 100px;
}